{% extends 'base.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}
    <h1>Welcome to the User Dashboard 33!</h1>
    <p>This is your dashboard where you can manage your account and view details.</p>
{% endblock %}
