<nav class="navbar navbar-light bg-light">
    <div class="container-fluid d-flex flex-column">
        <a class="navbar-brand mb-3" href="#">MyApp</a>
        <ul class="navbar-nav d-flex flex-column w-100">
            <li class="nav-item mb-2">
                <a class="nav-link btn btn-primary text-black w-100" aria-current="page" href="#">Dashboard</a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link btn btn-secondary text-black w-100" href="#">Profile</a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link btn btn-success text-black w-100" href="#">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-danger text-black w-100" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>